* {
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.loader{
    width: 250px;
    height: 250px;
    position: relative;
    border-radius: 50%;
    animation: load 2s linear infinite;
}

.loader::before{
    position: absolute;
    content: "";
    top: 0;
    left:0;
    box-shadow: 0 0 2px #fff5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

span{
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 24px;
    position: absolute;
    font-weight: bold;
    letter-spacing: 4px;
    animation: color 2s linear infinite;
}

@keyframes load {
    0%{
        transform: rotate(0deg);
        box-shadow: 0 3px 2px rgb(2,220,220);
    }
    50%{
        transform: rotate(18deg);
        box-shadow: 0 3px 2px rgb(0,255,155);
    }
    100%{
        transform: rotate(18deg);
        box-shadow: 0 3px 2px rgb(238,2,206);
    }
}


@keyframes color {
    0%{
        color:rgb(2,220,220);
    }
    50%{
        box-shadow:rgb(0,255,155);
    }
    100%{
        box-shadow:rgb(238,2,206);
    }
}